/CMakeFiles
/CMakeCache.txt
/Makefile
/cmake_install.cmake
/sample/CMakeFiles
/sample/CMakeCache.txt
/sample/Makefile
/sample/asiobuilddir
/sample/cmake_install.cmake
.*.swp
/libunithread.a
/unithread_test
/sample/asiosample
